.project {
  background-color: #ddd;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  margin: 1rem;
}

.project__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project__header button {
  margin-left: 1rem;
}